.forgot-password__container {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 30px;
}

.forgot-password__logo {
  padding: 30px;
  min-height: 100px;
}

.forgot-password__logo img {
  width: 70%;
  object-fit: contain;
}

.forgot-password__logo h3 {
  margin-top: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.forgot-password__error,
.forgot-password__success {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  padding: 10px 15px;
  pointer-events: none;
  font-size: 1.3rem;
  transition: 0.8s;
}

.forgot-password__error svg {
  color: crimson;
  margin-left: 5px;
}

.forgot-password__success svg {
  color: rgb(106, 212, 0);
  margin-left: 5px;
}

.forgot-password__form {
  padding: 30px;
}

.forgot-password__form-title {
  font-size: 2.7rem;
  letter-spacing: 1px;
}

.forgot-password__input-box__field {
  margin-top: 20px;
}

.forgot-password__input-box {
  position: relative;
}

.forgot-password__input-box input {
  width: 100%;
  border: 1px solid rgba(41, 41, 41, 0.25);
  border-radius: 5px;
  outline: none !important;
  color: #000;
  font-size: 1.5rem;
  padding: 10px 15px;
  background-color: transparent;
  letter-spacing: 1px;
  transition: 0.5s;
}

.forgot-password__input-box span {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  pointer-events: none;
  font-size: 1.6rem;
  transition: 0.8s;
}

.forgot-password__input-box input:focus {
  border: 1px solid #555;
}

.forgot-password__input-box input:focus + span,
.forgot-password__input-box input:valid + span {
  transform: translateX(10px) translateY(-3px);
  font-size: 1.3rem;
  height: 8px;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 5px;
}

.forgot-password__transfer {
  margin-top: 10px;
}

.forgot-password__transfer a {
  color: rgb(0, 109, 193);
  font-weight: 430;
}

.forgot-password__transfer a:hover {
  text-decoration: underline;
}

.forgot-password__input-checkbox label {
  font-size: 1.5rem;
}

.forgot-password__input-checkbox a {
  color: #ee4d2d;
  font-weight: 430;
}

.forgot-password__input-checkbox a:hover {
  text-decoration: underline;
}

.forgot-password__form button {
  transition: 0.6s;
}

.forgot-password__form button.disabled {
  opacity: 0.4 !important;
}
