.my-profile__avatar {
  display: flex;
  justify-content: center;
}

.my-profile__information {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.my-profile__save {
  position: absolute !important;
  right: 35px !important;
  bottom: 35px !important;
}
