.comment-item {
  padding: 8px 15px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;

  &.parent-item {
    margin: 10px 0 15px 25px;
  }

  &.parent-item::before {
    content: '';
    position: absolute;
    bottom: -17px;
    left: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 30px 10px 0;
    border-color: transparent #fff transparent transparent;
    transform: rotate(-37deg);
    transform-origin: bottom left;
  }

  &.child-item {
    margin: 10px 15px 15px 60px;
  }

  &.child-item::before {
    content: '';
    position: absolute;
    bottom: -40px;
    right: -27px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 30px 30px;
    border-color: transparent #fff transparent transparent;
    transform: rotate(-37deg);
    transform-origin: bottom left;
  }

  & p {
    word-wrap: break-word !important;
  }

  &.author-comment {
    background-color: #ffffda;
  }

  &.author-comment::before {
    border-color: transparent #ffffda transparent transparent;
  }
}

.comment-content {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-align: justify;
  width: 100%;
}

.comment-content p {
  margin: 0;
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.comment-author {
  display: flex; /* Sử dụng flexbox để căn chỉnh */
  justify-content: space-between; /* Căn chỉnh giữa người dùng và ngày tháng */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-top: 8px; /* Khoảng cách giữa nội dung và thông tin tác giả */
  font-size: 0.875rem; /* Kích thước chữ nhỏ hơn cho tác giả và ngày */
  color: #666; /* Màu chữ cho tác giả và ngày */
}

.comment-date {
  margin-left: 8px; /* Khoảng cách giữa tên tác giả và ngày */
  font-style: italic; /* In nghiêng cho ngày */
}

.show-comments {
  text-align: right;
  color: #65676b;
  font-weight: 500;
  cursor: pointer;
}
