.cart-items-container {
  max-width: 100%;
  overflow-x: scroll;
}

.cart-items-container::-webkit-scrollbar {
  height: 4px;
}

.cart-items-container::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
  border-radius: 10px;
}
